a {
    color:inherit;
    /* text-decoration: none; */
}

.custom-border {
    border-left:5px solid green;
    border-bottom:2px solid rgb(178, 175, 175);
    /* border-bottom-left-radius: 3px;  */

}

.custom-border-pill {
    /* margin-top: 1px; */
    padding-top:5px ;
    padding-left: 2px;
    padding-right: 2px;
    border:1px solid black;
    color: black;
 
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* height: 100%; */
    width: 100%;
}

.custom-border-div {
    padding:10px;
    border: 1px solid lightgrey;
}

.custom-border-editor {
    border:1px solid lightgrey;
    /* padding: 105px; */
}

.custom-multiple-module {
    margin-left: 200px;
}